table{
    width: 100%;
}

table, th, td{
    border: 1px solid black; 
    border-collapse: collapse; /* solo se muestra una linea de borde */
    padding: 5px;
}

.formato-izquierda{
    text-align: left;
}

td{
    text-align: center;
}
/* Los th se cengtran automámicamente*/
caption{
    color: #e63946;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    line-height: 70px;
}

th{
    color: #f1faee;
    background-color: #1d3557;
}

/*Even son las filas pares*/
tr:nth-child(even){
    background-color: #f1faea;
}

/*Odd son las filas impares*/
tr:nth-child(odd){
    background-color: #a8dadc;
}